#root
{

}

.restart-button
{
    position: absolute;
}

#game-board
{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-flow: row wrap;
    height: 900px;
    width: 944px;
    margin: auto;
    background-color: grey;
    /* Disallow selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.front
{
    content: url("../img/card-back.png");
    border-style: outset;
    border-width: 3px;
    border-color: #1c6d82;
}

.flip-container, .card, .front, .back
{
    border-radius: 18px;
}

.back
{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

img
{
    height: 150px;
    width: auto;
}

.card
{
    width: 190px;
    height: 190px;
    background-color: white;
    margin: auto;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

.flip-container.flip .card {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 190px;
	height: 190px;
}

/* flip speed goes here */
.card {
	transition: 0.5s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
div.back {
	transform: rotateY(180deg);
}
